
<div id="home-wrap">

    <div class="hero">
        <img src="../../assets/Logo_V1_W.png" alt="LOGO">
        <div id = "intro">
            Welcome to <span>Hunt Helper</span>, your personal assistant for getting hired!
        </div>  
    </div>

    <section id="info-wrap">

        <div id = "intro">
            Welcome to <span>Hunt Helper</span>, your personal assistant for getting hired!
        </div>  
        <div class="line"></div>

        <div class="entry-wrap">
            <div class="info-div">
                <h1>Manage</h1>
                <div class="pIMG"></div>
                <div>

                </div>
            </div>
            <div class="half-line"></div>
        </div>
        
        <div class="entry-wrap right">
            <div class="info-div right">"At vero eos et accusamus e</div>
            <div class="half-line "></div>
        </div>

        <div class="entry-wrap">
            <div class="info-div">"At vero eos et accusamus e</div>
            <div class="half-line"></div>
        </div>

        <div class="entry-wrap right">
            <div class="info-div">"At vero eos et accusamus e</div>
            <div class="half-line"></div>
        </div>

    </section>

    <section id="home-start">
        <div class="line2"></div>
        <div id="btn-wrap">
            <span>Ready to get started?</span>
        </div>
    </section>
</div>
