@import '../../colors.scss';

#home-wrap{
    // display: flex;
    // justify-content: space-evenly;
    height: 100%;
}

#intro {
    margin: auto;
    width: 500px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid $primary;
}

.home-half {
    //width: 99%;
    // display: flex;
    // flex-wrap: wrap;
    padding: 20px;
    position: relative;
}

#left-half {
    // justify-content: flex-end;
}

.line {
    background-color: $primary;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 50%;
}

.half-line {
    height: 1px;
    background-color: $primary;
    width: 100%;
    position: absolute;
    bottom: 50%;
    z-index: 0;
}

.info-div{
    border: 1px solid $primary;
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    padding: 15px;
    background-color: white;
    z-index: 20;
}